*{
  margin: 0;
  padding: 0;
}
//rsfyjgf


a {
  text-decoration: none;
  color: black;
}

//xrhyrxhy

html, body {
  width: 100vw;
  height: 100vw;


}
.container{
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;


}
//tdtcrgcrgc
.header {
  position: fixed;
  width: inherit;
  height: auto;
  background-color: #ffc32f;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  box-shadow: 1px 1px 10px;
}

.menuHolder {
  width: 75vw;
  height: 5vw;
  //background-color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuLogo {
  width: 4vw;
  height: 4vw;
  // background-color: black;
  background-image: url("https://cdn4.iconfinder.com/data/icons/environmental/80/Environment_ecology_eco-03-128.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;

}
.menu li {
   display: inline;
    margin-left: 1vw;
  //font-size: 1.5vw;
  font-size: 1.6vw;
  font-family: 'Roboto', sans-serif;
}


#mainContent{
  width: 100vw;
  height: 60vw;
  //background: url("../Images/597665799.jpg")no-repeat;
  //background-size: cover;
  //
}
#bee {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

//блок  сорта меда
#container_honey{
  width: 100vw;
  height:96vw;
}

.honey{
  width: 100vw;
  height:49vw;
  position: relative;
  background: url("../Images/Vector-Smart-Object2.png") no-repeat;
  background-size: 100%;
  top: -1.8vw;
  z-index: 99;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

//ftujftu
.honey_animation {
  width: 70%;
  height: 49vw;
  position: absolute;

}

.honey_animation_bee_1,
.honey_animation_bee_2,
.honey_animation_bee_3 {
  width: 4vw;
  height: 9vw;
  position: absolute;
  background: url("../Images/bee1.png") no-repeat;
  background-size: 100%;
  // z-index: 0;
}

.honey_animation_bee_1 {
  width: 3vw;
  margin: 21vw -3vw;
  transform: rotate(-15deg);
  animation-name: animation1;
  animation-duration: 60s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes animation1 {

  50% {

    transform: rotate(0.01turn);
  }
}

@keyframes animation11 {

  50% {

    transform: rotate(-0.01turn);
  }
}

@keyframes animation2 {
  10% {
    transform: rotate(30deg);

  }

  20% {
    transform: translate(0, -15px)

  }
  60% {
    transform: rotate(0.2turn);
  }

  100% {
    transform: rotate(30deg);
  }
}

//крилишкі bee
.honey_animation_bee_1:before,
.honey_animation_bee_1:after {
  content: '';
  width: 4vw;
  height: 3vw;
  position: absolute;
  margin: 2vw -2.2vw;
  background: url("../Images/bee2.png") no-repeat;
  background-size: 100%;
 /* animation-name: animation11;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;*/
}

.honey_animation_bee_1:after {
  margin: 2vw 1.3vw;
  background: url("../Images/bee2reflected.png") no-repeat;
  background-size: 100%;
  transform: scaleX(-1);
 /* animation-name: animation1;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
*/
}

//organic logo
.main_logo {
  height: 40vw;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -10vw;

}

//урожай 2017
.sale {
  position: absolute;
  top: 1.3vw;
  left: -3px;
  width: 25vw;
}

// кінець урожай 2017

// кінець   -- кому кінець??? треба уточняти все




.honey_animation_bee_2 {
  margin: 20vw 61vw;
  transform: rotate(30deg);
  animation-name: animation2;
  animation-duration: 60s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

}

//крилишкі
.honey_animation_bee_2:before, .honey_animation_bee_2:after,
.honey_animation_bee_3:before, .honey_animation_bee_3:after {
  content: '';
  width: 5vw;
  height: 4vw;
  position: absolute;
  background: url("../Images/bee2.png") no-repeat;
  background-size: 100%;
  margin: 2.7vw -2.7vw;
}

.honey_animation_bee_2:after {
  content: '';
  margin: 2.7vw 1.7vw;
  transform: scaleX(-1);
}

.honey_animation_bee_3 {
  margin: 7vw 22vw;
}

.honey_animation_bee_3:before {
  content: '';
  margin: 2.5vw -2.8vw;
}

.honey_animation_bee_3:after {
  content: '';
  margin: 2.5vw 1.8vw;
  transform: scaleX(-1);
}

// кінець крилишкі

.nav_hony{
  width: 65vw;
  height: 30vw;
  position: absolute;
  //margin: -2.4vw 1.1vw;

}

//контейнер для кнопок
.nav_container_hony_on, .nav_container_hony_two
,.nav_container_hony_three,.nav_container_hony_four
,.nav_container_hony_five ,.nav_container_hony_six{
  width: 18.5%;
  height: 11vw;
  position: absolute;
  cursor: pointer;
}

//расположения  контейнера для кнопок
.nav_container_hony_on{
  top: -2.2vw;
  left: 1.3vw;
}
.nav_container_hony_two{
  // margin: 17.6vw 10.2vw;
  top: 15.5vw;
  left: 11.5vw;
}
.nav_container_hony_three{
  top: -2.2vw;
  left: 21.6vw;
  //  margin: 0 20.3vw;
}
.nav_container_hony_four{
  top: 15.5vw;
  left: 32vw;
  //  margin: 17.6vw 31.4vw;
}
.nav_container_hony_five{
  top: -2.2vw;
  left: 42.3vw;
  // margin: 0 40.5vw;
}
.nav_container_hony_six{
  top: 15.5vw;
  left: 52.7vw;
  // margin: 17.6vw 13.2vw;
}

//кнопка
.button {
  width: 100%;
  height: 11vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center ;
}

.button h4 {
    text-align: center;
  font-size: 1.7vw;
  font-family: 'Roboto', sans-serif;

}

#nav_button_four h4 {

  font-size: 1.2vw;
  font-weight: 900;
}
.fon_four{
  font-size: 1.7vw;
  font-weight: bold;
}

//ВЕРХНЯЯ ЧАСТЬ КНОПКИ
#nav_button_on {

  background: url("../Images/thdt.png")no-repeat;
  background-size: 100%;
  margin: 0.7vw 0.38vw ;
}

#nav_button_two {
  background: url("../Images/thdt.png")no-repeat;
  background-size: 100%;
  margin: 0.7vw 0.37vw ;
}

#nav_button_three {
  background: url("../Images/gdtrg.png")no-repeat;
  background-size: 100%;
  margin: 0.7vw 0.4vw ;
}

#nav_button_four {
  background: url("../Images/gfrsd.png")no-repeat;
  background-size: 100%;
  margin: 0.7vw 0.4vw ;
}

#nav_button_five {
  background: url("../Images/gfrsd.png")no-repeat;
  background-size: 100%;
  margin: 0.68vw 0.35vw ;
}

#nav_button_six {
  background: url("../Images/3f.png")no-repeat;
  background-size: 100%;
  margin: 0.7vw 0.37vw ;
}

//підсвічування навколо кнопкі
//.nav_bor{
// width: 106%;
//height: 13vw;
// position: absolute;
// background: url("../Images/hover.png")no-repeat;
// background-size: 100%;
// opacity: 0;
//}


.nav_container_hony_on:hover .nav_bor,
.nav_container_hony_two:hover .nav_bor,
.nav_container_hony_three:hover .nav_bor,
.nav_container_hony_four:hover .nav_bor,
.nav_container_hony_five:hover .nav_bor,
.nav_container_hony_six:hover .nav_bor {
  opacity: 1;
}


/*.tooltips {
  width: 8vw;
  height: 10vw;
  background: url("../Images/Sadness bee.jpg") no-repeat;
  background-size: 100%;
  position: fixed;
  display: none;

}
.tooltips h4 {
  font-size: 1.5vw;
  font-family: Conv_TAURU;
  padding: 0.1vw;
  text-align: center;
  margin: 6.5vw -8px;
  color: #919191;
  background-color: #f7b43f;
  border: 1px solid;
  border-radius: 15px;

}*/
//parallax мед

.container_parallax_honey {
  width: 100vw;
  height:52vw;
  position: relative;
  background: url("../Images/Beekeeper1.jpg")no-repeat;
  background-size: cover;
  //background-attachment: fixed;
  //top:-4vw;
margin: -4vw 0;
}
.parallax_honey_img_1,.parallax_honey_img_2{
  width: 4vw;
  height: 6vw;
  position: absolute;
  background: url("../Images/bee222.png")no-repeat;
  background-size: 100%;
  margin: 25vw 32vw;
}

.parallax_honey_img_1:before {
  content: '';
  width: 3vw;
  height: 5vw;
  position: absolute;
  background: url("../Images/bee222.png") no-repeat;
  background-size: 100%;
  margin: 8vw 51vw;
}

.parallax_honey_img_2 {
  margin: 71vw 68vw;
}
.parallax_honey_img_2:after{
  content: '';
  width: 3vw;
  height: 6vw;
  position: absolute;
  background: url("../Images/bee222.png")no-repeat;
  background-size: 100%;
  margin: -1vw -57vw;
}

//кінец parallax мед
//контейнер Honeycomb і Bee-products
#container_honeycomb {
  width: 100vw;
  height: 50vw;
  background-color: #ffc32f;
  background-image: url("../Images/scheme.png");
  background-size: 100%;
  box-shadow: 0 0 20px 0;
  z-index: 2;
}



.parallax_honeycomb {
  width: 100vw;
  height:52vw;
  background: url("../Images/597665799.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  //top:-4vw;

}

.parallax_honeycomb h2 {
  width: 40vw;
  height: 7vw;
  background-color: rgba(169, 169, 169, 0.57);
  position: absolute;
  margin: 20vw 0vw;
  text-align: center;
  font-size: 3vw;
  padding: 3vw 1vw 0;
}

//кінец Honeycomb контейнер
//Bee-products
#container_bee-products {
  width: 100vw;
  height: 45vw;
  background:url("../Images/waves.gif")no-repeat;
  background-size: 100%;
  box-shadow: 0 0 20px 0;
  z-index: 2;
}
 .slider_bee-products {
  width: 95vw;
  height: 28vw;
   position: relative;
   overflow: hidden;

    .title_bee-products {
      position: absolute;
      font-family: 'Roboto', sans-serif;
      font-size: 4vw;
      color: white;
      margin: 5vw 3vw;
    }
    .title_bee-products:after{
      content: '';
      position: absolute;
      height:18vw;
      border-left: 2px solid white;
      margin:-2vw 2vw;
    }
    .description_bee-products{
      width: 74vw;
      position: absolute;
      font-family: 'Roboto', sans-serif;
      font-size: 1.7vw;
      color: white;
      margin: 3vw 22vw;
      z-index: 1;

    }
    /*.img_bee-products{
      width: 14vw;
      height:10vw;
      position: absolute;
      background: url("../Images/img dee.jpg")no-repeat;
      background-size: 100%;
      margin: 14vw 82vw;
     animation:  animation_bee-products;
    }*/
  }
 @keyframes animation_bee-products  {
   0%{
     opacity: 0;
   }
100%{
  opacity: 1;
}
 }

.nav_bee-products {
  width: 100vw;
  height: 13vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.button_bee_products {
  width: 10vw;
  height: 10vw;
  background: url("../Images/imeg bee/cell.png") no-repeat;
  background-size: 100%;
  //position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  cursor: pointer;


}

.button_bee_products p {
  font-size: 1.4vw;
  font-family: 'Roboto', sans-serif;
  //margin: 4vw auto;
  color: white;
  text-align: center;
}


.parallax_bee-products {
  width: 100vw;
  height:52vw;
  //position: relative;
  background: url("../Images/about-beekeeping@2x.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

// кінець Bee-products
//фото галерея
#container_slider {
  width: 100vw;
  height: 45vw;
  box-shadow: 0 0 20px 0;
  z-index: 999;
  background-color: #ffc32f;


}
#footer{

  width: 100vw;
  height:30vw;
  background: url("../Images/Bees-on-Frame-2.jpg")no-repeat;
  background-size: cover;
  box-shadow: 0 0 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer_content {
    border-radius: 0.5vw;
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.81);
  }

  p {
    margin: 3vw;
    text-align: center;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
  }

}

// модальное окно
.container_modal_window{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(86, 17, 0, 0.83);
  display: none;
  z-index: 9999999;
}

.flex_box_modal_window{
  width: 100vw;
  height: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;

  //left: 0;
  //top: 0;

}

//шистиугольник
.modal_window{
  width: 80vw;
  height: 40vw;
  background-color: rgba(255, 255, 255, 0.81);
  //background: url("../Images/12.png")no-repeat;
  //background-size: 100%;

}

.model_img{
  position: absolute;
  width: 25vw;
  height: 13vw;
  border: 4px solid #ffffff;
  border-radius: 2px;
  margin: -1vw 28vw;
}
.modal_title{
  position: absolute;
  width: 20vw;
  height: auto;
  color: chocolate;
  margin: 17vw 2vw;
  font-size: 2vw;
  font-family: 'Roboto', sans-serif;
}
.modal_title:after{
  content: '';
  position: absolute;
  height: 17vw;
  border-left: 0.4vw solid;
  margin: -2vw 1vw;
}
.modal_Description{
  position: absolute;
  width:60vw;
  height: auto;
  font-size: 1.7vw;
  margin: 15vw 18vw;
  font-family: 'Roboto', sans-serif; ;


}

.box {
  margin-top: 13vw;
  width: 110vw;
  height: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;

  .picture{
    margin: 5vw;
    margin-top: -15vw;
    padding-right: 4vw;

   // background-image: url("../Images/ret.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40vw;
    height: 40vw;
  }
  .text{
    width: 70vw;
    height: auto;
    .title{
      font-size: 4vw;
      color: black;
      font-family: Arial;
      margin-bottom: 2vw;
    }
    .honey_text {
      margin: 1vw;
      font-size: 2.2vw;
      text-align: justify;
      color: black;
      font-family: Arial;
    }
  }

}

.tooltips {
  width: 18vw;
  height: 6vw;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
  z-index: 999;
  position: fixed;
  border-radius: 4px  ;
  p {
    font-size: 1.6vw;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 1vw;
  }
}

