


<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Мед від Яріка!</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
        </div>
    </header>
    <div id="body">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Мед від Яріка</h1>
            </hgroup>
        </div>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Мед від Яріка!</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
</body>
</html>